In [80]:
import pandas as pd
import numpy as np

# goodreads_books_comics_graphic.json dataset

__Read the good read books information__

In [81]:
dataframe1 = pd.read_json('goodreads_books_comics_graphic.json', lines=True)

__Display basic information__

In [60]:
dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89411 entries, 0 to 89410
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   isbn                  89411 non-null  object
 1   text_reviews_count    89411 non-null  int64
 2   series                89411 non-null  object
 3   country_code          89411 non-null  object
 4   language_code         89411 non-null  object
 5   popular_shelves       89411 non-null  object
 6   asin                  89411 non-null  object
 7   is_ebook              89411 non-null  object
 8   average_rating        89411 non-null  float64
 9   kindle_asin           89411 non-null  object
 10  similar_books         89411 non-null  object
 11  description           89411 non-null  object
 12  format                89411 non-null  object
 13  link                  89411 non-null  object
 14  authors               89411 non-null  object
 15  publisher             89411 non-null  object
 16  num_pages             89411 non-null  object
 17  publication_day       89411 non-null  object
 18  isbn13                89411 non-null  object
 19  publication_month     89411 non-null  object
 20  edition_information   89411 non-null  object
 21  publication_year      89411 non-null  object
 22  url                   89411 non-null  object
 23  image_url             89411 non-null  object
 24  book_id               89411 non-null  int64
 25  ratings_count         89411 non-null  int64
 26  work_id               89411 non-null  int64
 27  title                 89411 non-null  object
 28  title_without_series  89411 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 19.8+ MB

__HEad__

In [61]:
dataframe1.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,,1,[],US,,"[{'count': '228', 'name': 'to-read'}, {'count'...",B00NLXQ534,true,4.12,,...,,,,https://www.goodreads.com/book/show/25742454-t...,https://s.gr-assets.com/assets/nophoto/book/11...,25742454,1,42749946,The Switchblade Mamma,The Switchblade Mamma
1,2205073346,2,[],US,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",,false,3.94,,...,1,,2016,https://www.goodreads.com/book/show/30128855-c...,https://images.gr-assets.com/books/1462644346m...,30128855,16,50558228,Cruelle,Cruelle
2,,5,"[246830, 362583, 362581, 623032]",US,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",,false,4.28,,...,,,2012,https://www.goodreads.com/book/show/13571772-c...,https://images.gr-assets.com/books/1333287305m...,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...,Captain America: Winter Soldier (The Ultimate ...
3,,1,[],US,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",B06XKGGSB7,true,4.05,B06XKGGSB7,...,,,,https://www.goodreads.com/book/show/35452242-b...,https://s.gr-assets.com/assets/nophoto/book/11...,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...,Bounty Hunter 4/3: My Life in Combat from Mari...
4,0930289765,6,"[266759, 1096220]",US,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",,false,4.06,,...,11,,1997,https://www.goodreads.com/book/show/707611.Sup...,https://images.gr-assets.com/books/1307838888m...,707611,51,693886,"Superman Archives, Vol. 2","Superman Archives, Vol. 2"

__Get only the columns used for the project__
* Following columns may be required
    * text_reviews_count,
    * language_code,
    * popular_shelves,
    * is_ebook,
    * average_rating,
    * description,
    * author,
    * publication_year,
    * book_id
    * ratings_count,
    * work_id,
    * title

In [62]:
books_metadata = dataframe1[['text_reviews_count', 'language_code', 'popular_shelves', 'is_ebook', 'average_rating', 'description', 'authors', 'publication_year', 'book_id', 'ratings_count', 'work_id', 'title']]
books_columns = books_metadata.columns

In [63]:
books_metadata.head()

,text_reviews_count,language_code,popular_shelves,is_ebook,average_rating,description,authors,publication_year,book_id,ratings_count,work_id,title
0,1,,"[{'count': '228', 'name': 'to-read'}, {'count'...",true,4.12,Lillian Ann Cross is forced to live the worst ...,"[{'author_id': '8551671', 'role': ''}]",,25742454,1,42749946,The Switchblade Mamma
1,2,fre,"[{'count': '2', 'name': 'bd'}, {'count': '2', ...",false,3.94,"Florence Dupre Latour raconte comment, de son ...","[{'author_id': '3274315', 'role': ''}]",2016,30128855,16,50558228,Cruelle
2,5,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",false,4.28,The questions plaguing Captain America's dream...,"[{'author_id': '37450', 'role': ''}]",2012,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...
3,1,eng,"[{'count': '222', 'name': 'to-read'}, {'count'...",true,4.05,The fight for Jason Delgado's life and soul be...,"[{'author_id': '16209952', 'role': ''}, {'auth...",,35452242,6,54276229,Bounty Hunter 4/3: My Life in Combat from Mari...
4,6,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",false,4.06,These are the stories that catapulted Superman...,"[{'author_id': '81563', 'role': ''}, {'author_...",1997,707611,51,693886,"Superman Archives, Vol. 2"

__Get the rows which have null value from the dataset__

In [64]:
drop_rows = []
for rows in range(len(books_metadata)):
    useful = 1
    for cols in books_columns:
        if(books_metadata[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows.append(rows)

__Drop the rows that have null values__

In [65]:
books_metadata_final = books_metadata.drop(drop_rows)

In [66]:
books_metadata_final.shape

(45783, 12)

In [67]:
books_metadata_final['language_code'].unique()

array(['fre', 'eng', 'en-US', 'kor', 'jpn', 'spa', 'zho', 'ita', 'en-GB',
       'nor', 'ind', 'cze', 'swe', 'ger', 'nl', 'por', 'gre', 'fin',
       'rum', 'bos', 'msa', 'tur', 'pol', 'vie', 'mul', 'dan', 'scr',
       'tha', 'fil', 'per', 'rus', 'ben', 'bul', 'ara', 'en-CA', 'nno',
       'lav', 'srp', 'pes', 'cat', 'tgl', 'hun', 'nob', 'heb', 'est',
       '--', 'kat', 'ira', 'ukr', 'inh', 'slv', 'lit', 'sco', 'hin',
       'tel', 'slo', 'eus', 'abk', 'ine', 'isl', 'glg', 'wak', 'aze',
       'afr', 'en'], dtype=object)

__Get only rows with language as 'eng' and 'en-US'__

In [68]:
books_metadata_final = books_metadata_final[(books_metadata_final['language_code']=='eng') | (books_metadata_final['language_code']=='en-US')]

In [69]:
books_metadata_final.head()

,text_reviews_count,language_code,popular_shelves,is_ebook,average_rating,description,authors,publication_year,book_id,ratings_count,work_id,title
2,5,eng,"[{'count': '493', 'name': 'to-read'}, {'count'...",false,4.28,The questions plaguing Captain America's dream...,"[{'author_id': '37450', 'role': ''}]",2012,13571772,51,102217,Captain America: Winter Soldier (The Ultimate ...
4,6,en-US,"[{'count': '20', 'name': 'to-read'}, {'count':...",false,4.06,These are the stories that catapulted Superman...,"[{'author_id': '81563', 'role': ''}, {'author_...",1997,707611,51,693886,"Superman Archives, Vol. 2"
6,9,eng,"[{'count': '47', 'name': 'to-read'}, {'count':...",false,4.15,PRODUCT DESCRIPTION: The first new volume of G...,"[{'author_id': '14965', 'role': ''}, {'author_...",2016,27036536,39,47077783,"War Stories, Volume 3"
11,26,eng,"[{'count': '104', 'name': 'to-read'}, {'count'...",false,3.16,Sir Arthur Conan Doyle's dauntless detective r...,"[{'author_id': '61231', 'role': ''}, {'author_...",2011,11827783,114,16782451,Sherlock Holmes: Year One
12,6,eng,"[{'count': '133', 'name': 'manga'}, {'count': ...",false,4.41,This is the story of a group of boys who try t...,"[{'author_id': '294649', 'role': ''}]",2012,12349665,149,3062163,"Naoki Urasawa's 20th Century Boys, Volume 20 (..."

In [70]:
books_metadata_final['publication_year'].unique()

array(['2012', '1997', '2016', '2011', '2010', '2014', '2009', '2013',
       '1989', '2006', '2015', '2017', '2007', '2002', '2008', '1990',
       '1976', '1974', '2005', '1991', '2004', '2003', '1945', '2018',
       '1986', '1985', '1998', '1999', '1980', '1993', '1995', '2000',
       '1970', '1983', '1984', '1996', '1965', '2001', '1979', '1987',
       '1961', '1968', '1988', '1992', '1978', '1977', '1994', '1960',
       '1957', '1950', '1951', '1967', '1946', '1982', '1969', '1964',
       '1975', '1962', '1981', '1959', '1972', '1963', '1954', '1952',
       '1016', '1971', '1947', '1966', '207', '1944', '1942', '13',
       '2020', '1948', '1940', '1973', '2105', '1943', '1955', '2019',
       '201'], dtype=object)

In [71]:
books_metadata_final['publication_year'] = books_metadata_final['publication_year'].replace(['13'],'1981')
books_metadata_final['publication_year'] = books_metadata_final['publication_year'].replace(['207'],'2016')
books_metadata_final['publication_year'] = books_metadata_final['publication_year'].replace(['201'],'2010')
books_metadata_final['publication_year'] = books_metadata_final['publication_year'].replace(['1016'],'2016')
books_metadata_final['publication_year'] = books_metadata_final['publication_year'].replace(['2105'],'2007')

In [72]:
[books_metadata_final['publication_year']=='2105']

[2        False
 4        False
 6        False
 11       False
 12       False
          ...
 89401    False
 89402    False
 89404    False
 89409    False
 89410    False
 Name: publication_year, Length: 24179, dtype: bool]

In [73]:
books_metadata_final.shape

(24179, 12)

In [74]:
count = books_metadata_final[['publication_year','average_rating']].groupby('publication_year').agg('count')

In [75]:
count = count[count['average_rating']>=30]
count.head()

                  average_rating
publication_year
1986                          37
1987                          45
1988                          52
1989                          57
1990                          71

In [76]:
index = count.index
index

Index(['1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object', name='publication_year')

__Get only those books with the above given years__

In [77]:
books_metadata_final = books_metadata_final.loc[books_metadata_final['publication_year'].isin(index)]

__Export the final datasets__

In [79]:
books_metadata_final.to_json('final_dataset/books_metadata_comics.json')

# goodreads_interactions_comics_graphic.json dataset

__Read goodreads interaction dataset__

In [102]:
dataframe2 = pd.read_json('goodreads_interactions_comics_graphic.json', lines=True)

In [233]:
dataframe2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7347630 entries, 0 to 7347629
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   book_id                 int64
 2   review_id               object
 3   is_read                 bool
 4   rating                  int64
 5   review_text_incomplete  object
 6   date_added              object
 7   date_updated            object
 8   read_at                 object
 9   started_at              object
dtypes: bool(1), int64(2), object(7)
memory usage: 511.5+ MB

In [234]:
dataframe2.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,836610,6b4db26aafeaf0da77c7de6214331e1e,False,0,,Mon Aug 21 12:11:00 -0700 2017,Mon Aug 21 12:11:00 -0700 2017,,
1,8842281e1d1347389f2ab93d60773d4d,7648967,99b27059f711c37de8f90ee8e4dc0d1b,False,0,,Fri Feb 24 08:59:44 -0800 2017,Fri Feb 24 08:59:44 -0800 2017,,
2,8842281e1d1347389f2ab93d60773d4d,15704307,cb944d94854df5afd22210bb0aa0c903,False,0,,Wed May 20 21:28:56 -0700 2015,Wed May 20 21:28:57 -0700 2015,,
3,8842281e1d1347389f2ab93d60773d4d,6902644,2711bac2a8cc600dae1590a6ca0edb34,False,0,,Sun Jun 01 17:25:23 -0700 2014,Sun Jun 01 17:25:23 -0700 2014,,
4,8842281e1d1347389f2ab93d60773d4d,9844623,b72979076d1cded25dded922195e5b1c,False,0,,Sun Sep 02 08:45:08 -0700 2012,Sun Sep 02 08:45:08 -0700 2012,,

__Get only the rows corresponding to the books from books_metadata_final.json file__

In [235]:
books_interactions_comics = dataframe2[dataframe2['book_id'].isin(books_metadata_final['book_id'])]

In [236]:
books_interactions_comics.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
1,8842281e1d1347389f2ab93d60773d4d,7648967,99b27059f711c37de8f90ee8e4dc0d1b,False,0,,Fri Feb 24 08:59:44 -0800 2017,Fri Feb 24 08:59:44 -0800 2017,,
2,8842281e1d1347389f2ab93d60773d4d,15704307,cb944d94854df5afd22210bb0aa0c903,False,0,,Wed May 20 21:28:56 -0700 2015,Wed May 20 21:28:57 -0700 2015,,
3,8842281e1d1347389f2ab93d60773d4d,6902644,2711bac2a8cc600dae1590a6ca0edb34,False,0,,Sun Jun 01 17:25:23 -0700 2014,Sun Jun 01 17:25:23 -0700 2014,,
5,8842281e1d1347389f2ab93d60773d4d,13163846,84ae8909f3fee71ba40be06e3a6aa32e,False,0,,Tue Jul 24 14:36:13 -0700 2012,Tue Jul 24 14:36:13 -0700 2012,,
8,8842281e1d1347389f2ab93d60773d4d,472331,dc86ebd8df595749ebe277dd67b0a865,False,0,,Thu Aug 14 10:56:30 -0700 2008,Fri Jun 05 12:28:47 -0700 2009,,

In [237]:
books_interactions_comics.shape

(4649631, 10)

__Get only columns used for project__
* Following columns be used for the project
    * user_id
    * book_id
    * review_id
    * is_read
    * rating
    * date_added
    * date_updated

In [238]:
books_interactions_final = books_interactions_comics[['user_id', 'book_id', 'review_id', 'is_read', 'rating', 'date_added', 'date_updated']].reset_index()
interaction_columns = books_interactions_final.columns

In [239]:
interaction_columns

Index(['index', 'user_id', 'book_id', 'review_id', 'is_read', 'rating',
       'date_added', 'date_updated'],
      dtype='object')

In [240]:
books_interactions_final.head()

,index,user_id,book_id,review_id,is_read,rating,date_added,date_updated
0,1,8842281e1d1347389f2ab93d60773d4d,7648967,99b27059f711c37de8f90ee8e4dc0d1b,False,0,Fri Feb 24 08:59:44 -0800 2017,Fri Feb 24 08:59:44 -0800 2017
1,2,8842281e1d1347389f2ab93d60773d4d,15704307,cb944d94854df5afd22210bb0aa0c903,False,0,Wed May 20 21:28:56 -0700 2015,Wed May 20 21:28:57 -0700 2015
2,3,8842281e1d1347389f2ab93d60773d4d,6902644,2711bac2a8cc600dae1590a6ca0edb34,False,0,Sun Jun 01 17:25:23 -0700 2014,Sun Jun 01 17:25:23 -0700 2014
3,5,8842281e1d1347389f2ab93d60773d4d,13163846,84ae8909f3fee71ba40be06e3a6aa32e,False,0,Tue Jul 24 14:36:13 -0700 2012,Tue Jul 24 14:36:13 -0700 2012
4,8,8842281e1d1347389f2ab93d60773d4d,472331,dc86ebd8df595749ebe277dd67b0a865,False,0,Thu Aug 14 10:56:30 -0700 2008,Fri Jun 05 12:28:47 -0700 2009

__Drop rows having null values__

In [241]:
drop_rows_interaction = []
for rows in range(len(books_interactions_final)):
    useful = 1
    for cols in interaction_columns:
        if(books_interactions_final[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows_interaction.append(rows)

In [243]:
len(drop_rows_interaction)

0

__Export books_interactions_final__

In [244]:
books_interactions_final.to_json('final_dataset/books_interactions_final.json')

# goodreads_reviews_comics_graphic dataset

In [247]:
dataframe3 = pd.read_json('goodreads_reviews_comics_graphic.json', lines=True)

In [1]:
dataframe3.head()

NameError: name 'dataframe3' is not defined

In [251]:
dataframe3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542338 entries, 0 to 542337
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       542338 non-null  object
 1   book_id       542338 non-null  int64
 2   review_id     542338 non-null  object
 3   rating        542338 non-null  int64
 4   review_text   542338 non-null  object
 5   date_added    542338 non-null  object
 6   date_updated  542338 non-null  object
 7   read_at       542338 non-null  object
 8   started_at    542338 non-null  object
 9   n_votes       542338 non-null  int64
 10  n_comments    542338 non-null  int64
dtypes: int64(4), object(7)
memory usage: 45.5+ MB

__Get only the rows corresponding to the books from books_metadata_final.json file__

In [252]:
books_review_comics = dataframe3[dataframe3['book_id'].isin(books_metadata_final['book_id'])]

In [255]:
books_review_comics.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,,0,0
1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Wed Aug 10 00:00:00 -0700 2016,0,0
3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,,0,0
6,bafc2d50014200cda7cb2b6acd60cd73,13526176,68267ebf90e2da0d96a3d6aefb5b8ac7,3,This wasn't my favourite Black Butler book. I ...,Thu Nov 15 13:28:38 -0800 2012,Thu Nov 15 13:32:17 -0800 2012,Thu Nov 15 13:32:17 -0800 2012,Tue Nov 13 00:00:00 -0800 2012,0,0

__Get only columns used for the project__
* Following columns may be used
    * user_id
    * book_id
    * review_id
    * rating
    * review_text
    * date_added
    * date_updated
    * read_at
    * n_votes
    * n_comments

In [263]:
books_review_comics =  books_review_comics[['user_id','book_id','review_id','rating','review_text','date_added','date_updated','read_at', 'n_votes', 'n_comments']].reset_index()
review_columns = books_review_comics.columns

In [264]:
review_columns

Index(['index', 'user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'n_votes', 'n_comments'],
      dtype='object')

In [265]:
books_review_comics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330052 entries, 0 to 330051
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         330052 non-null  int64
 1   user_id       330052 non-null  object
 2   book_id       330052 non-null  int64
 3   review_id     330052 non-null  object
 4   rating        330052 non-null  int64
 5   review_text   330052 non-null  object
 6   date_added    330052 non-null  object
 7   date_updated  330052 non-null  object
 8   read_at       330052 non-null  object
 9   n_votes       330052 non-null  int64
 10  n_comments    330052 non-null  int64
dtypes: int64(5), object(6)
memory usage: 27.7+ MB

__Drop rows having null values__

In [266]:
drop_rows_review = []
for rows in range(len(books_review_comics)):
    useful = 1
    for cols in review_columns:
        if(books_review_comics[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows_interaction.append(rows)

In [269]:
len(drop_rows_review)

0

In [270]:
books_review_comics.head()

,index,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,n_votes,n_comments
0,0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \n ...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,0,0
1,1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,0,0
2,3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
3,4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,0,0
4,6,bafc2d50014200cda7cb2b6acd60cd73,13526176,68267ebf90e2da0d96a3d6aefb5b8ac7,3,This wasn't my favourite Black Butler book. I ...,Thu Nov 15 13:28:38 -0800 2012,Thu Nov 15 13:32:17 -0800 2012,Thu Nov 15 13:32:17 -0800 2012,0,0

__export final data to json__

In [273]:
books_review_comics.to_json('final_dataset/books_review_comics_final.json')