In [1]:
import pandas as pd
import numpy as np

# goodreads_books_mystery_thriller_crime.json dataset

__Read the good read books information__

In [2]:
dataframe1 = pd.read_json('goodreads_books_mystery_thriller_crime.json', lines=True)

__Display basic information__

In [3]:
dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219235 entries, 0 to 219234
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   isbn                  219235 non-null  object
 1   text_reviews_count    219235 non-null  int64
 2   series                219235 non-null  object
 3   country_code          219235 non-null  object
 4   language_code         219235 non-null  object
 5   popular_shelves       219235 non-null  object
 6   asin                  219235 non-null  object
 7   is_ebook              219235 non-null  object
 8   average_rating        219235 non-null  float64
 9   kindle_asin           219235 non-null  object
 10  similar_books         219235 non-null  object
 11  description           219235 non-null  object
 12  format                219235 non-null  object
 13  link                  219235 non-null  object
 14  authors               219235 non-null  object
 15  publisher             219235 non-null  object
 16  num_pages             219235 non-null  object
 17  publication_day       219235 non-null  object
 18  isbn13                219235 non-null  object
 19  publication_month     219235 non-null  object
 20  edition_information   219235 non-null  object
 21  publication_year      219235 non-null  object
 22  url                   219235 non-null  object
 23  image_url             219235 non-null  object
 24  book_id               219235 non-null  int64
 25  ratings_count         219235 non-null  int64
 26  work_id               219235 non-null  int64
 27  title                 219235 non-null  object
 28  title_without_series  219235 non-null  object
dtypes: float64(1), int64(4), object(24)
memory usage: 48.5+ MB

__HEad__

In [4]:
dataframe1.head()

,isbn,text_reviews_count,series,country_code,language_code,popular_shelves,asin,is_ebook,average_rating,kindle_asin,...,publication_month,edition_information,publication_year,url,image_url,book_id,ratings_count,work_id,title,title_without_series
0,184737297X,15,[169353],US,,"[{'count': '159', 'name': 'to-read'}, {'count'...",,false,3.93,B007YLTG5I,...,4,,2009,https://www.goodreads.com/book/show/6066814-cr...,https://images.gr-assets.com/books/1328724803m...,6066814,186,6243149,"Crowner Royal (Crowner John Mystery, #13)","Crowner Royal (Crowner John Mystery, #13)"
1,,60,[1052227],US,eng,"[{'count': '54', 'name': 'currently-reading'},...",B01NCIKAQX,true,4.33,B01NCIKAQX,...,,,,https://www.goodreads.com/book/show/33394837-t...,https://images.gr-assets.com/books/1493114742m...,33394837,269,54143148,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2)
2,,23,[953679],US,eng,"[{'count': '90', 'name': 'to-read'}, {'count':...",B01ALOWJN0,true,3.49,B01ALOWJN0,...,,,,https://www.goodreads.com/book/show/29074697-t...,https://s.gr-assets.com/assets/nophoto/book/11...,29074697,192,49305010,The Slaughtered Virgin of Zenopolis (Inspector...,The Slaughtered Virgin of Zenopolis (Inspector...
3,0854563903,8,[408775],US,,"[{'count': '51', 'name': 'to-read'}, {'count':...",,false,3.30,,...,12,Large Print,1975,https://www.goodreads.com/book/show/1902202.De...,https://s.gr-assets.com/assets/nophoto/book/11...,1902202,52,1903897,"Dead in the Morning (Patrick Grant, #1)","Dead in the Morning (Patrick Grant, #1)"
4,8838920931,3,[274410],US,ita,"[{'count': '48', 'name': 'to-read'}, {'count':...",,false,3.54,,...,,,2006,https://www.goodreads.com/book/show/9671977-ar...,https://images.gr-assets.com/books/1474788304m...,9671977,22,2152906,Aristotele e i misteri di Eleusi,Aristotele e i misteri di Eleusi

__Get only the columns used for the project__
* Following columns may be required
    * text_reviews_count,
    * language_code,
    * popular_shelves,
    * is_ebook,
    * average_rating,
    * description,
    * author,
    * publication_year,
    * book_id
    * ratings_count,
    * work_id,
    * title

In [5]:
books_metadata = dataframe1[['text_reviews_count', 'language_code', 'popular_shelves', 'is_ebook', 'average_rating', 'description', 'authors', 'publication_year', 'book_id', 'ratings_count', 'work_id', 'title']]
books_columns = books_metadata.columns

In [6]:
books_metadata.head()

,text_reviews_count,language_code,popular_shelves,is_ebook,average_rating,description,authors,publication_year,book_id,ratings_count,work_id,title
0,15,,"[{'count': '159', 'name': 'to-read'}, {'count'...",false,3.93,"London, 1196. At the command of Richard the Li...","[{'author_id': '37778', 'role': ''}]",2009,6066814,186,6243149,"Crowner Royal (Crowner John Mystery, #13)"
1,60,eng,"[{'count': '54', 'name': 'currently-reading'},...",true,4.33,,"[{'author_id': '242185', 'role': ''}]",,33394837,269,54143148,The House of Memory (Pluto's Snitch #2)
2,23,eng,"[{'count': '90', 'name': 'to-read'}, {'count':...",true,3.49,"BATHS, BANKS AND ROMAN INSURRECTION\nDetective...","[{'author_id': '15104629', 'role': ''}, {'auth...",,29074697,192,49305010,The Slaughtered Virgin of Zenopolis (Inspector...
3,8,,"[{'count': '51', 'name': 'to-read'}, {'count':...",false,3.30,"Gerald breezily introduced his wife, Helen, to...","[{'author_id': '190988', 'role': ''}]",1975,1902202,52,1903897,"Dead in the Morning (Patrick Grant, #1)"
4,3,ita,"[{'count': '48', 'name': 'to-read'}, {'count':...",false,3.54,"""I misteri di Eleusi"" e il quinto romanzo di A...","[{'author_id': '337108', 'role': ''}, {'author...",2006,9671977,22,2152906,Aristotele e i misteri di Eleusi

__Get the rows which have null value from the dataset__

In [7]:
drop_rows = []
for rows in range(len(books_metadata)):
    useful = 1
    for cols in books_columns:
        if(books_metadata[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows.append(rows)

__Drop the rows that have null values__

In [8]:
books_metadata_final = books_metadata.drop(drop_rows)

In [9]:
books_metadata_final = books_metadata_final.reset_index().drop(['index'],axis=1)

In [10]:
books_metadata_final['language_code'].unique()

array(['ita', 'eng', 'gre', 'lit', 'fin', 'en-GB', 'en-US', 'per', 'bul',
       'nl', 'spa', 'ger', 'swe', 'pes', 'cze', 'en-CA', 'por', 'fre',
       'nor', 'zho', 'ind', 'rum', 'slo', 'lav', 'heb', 'dan', 'pol',
       'srp', 'tur', 'kat', 'jpn', 'ben', 'nob', 'vie', 'hun', 'tha',
       'rus', 'ara', 'cat', 'ukr', 'kan', 'scr', 'msa', 'est', 'isl',
       'pra', 'en', 'afr', 'vls', 'din', 'pt-BR', 'aze', 'mkd', 'slv',
       'aus', 'eus', 'urd', 'tam', 'glg', 'hye', 'fil', 'mon', 'mus',
       'nno', 'kor', 'frs', '--', 'nld', 'mlt', 'grc', 'egy', 'es-MX',
       'mul', 'mar', 'hin', 'mal', 'sin', 'peo', 'sqi', 'bos', 'tel',
       'ady'], dtype=object)

__Get only rows with language as 'eng' and 'en-US'__

In [11]:
books_metadata_final = books_metadata_final[(books_metadata_final['language_code']=='eng') | (books_metadata_final['language_code']=='en-US')]

In [12]:
books_metadata_final.shape

(66775, 12)

In [13]:
books_metadata_final['publication_year'].unique()

array(['2013', '2014', '2004', '2006', '2016', '2015', '2008', '1998',
       '1954', '2011', '1996', '2012', '2010', '2002', '2000', '2003',
       '1991', '1960', '2017', '1997', '2007', '2005', '1999', '1995',
       '1951', '1989', '2009', '2001', '1987', '1993', '1962', '1992',
       '1990', '1839', '1986', '1981', '1978', '1988', '1964', '1946',
       '1979', '1966', '1976', '1994', '1973', '1963', '1983', '1980',
       '1952', '1982', '2020', '1972', '1965', '2104', '1984', '1968',
       '1935', '1985', '1974', '1958', '1967', '1949', '1941', '1902',
       '1969', '1945', '1975', '1955', '2018', '1971', '1948', '1942',
       '1961', '1957', '1944', '1956', '1977', '1970', '1959', '1947',
       '1915', '1921', '1950', '1940', '20002', '1943', '1939', '1929',
       '1916', '1933', '1938', '1937', '1953', '201', '1918', '16',
       '1908', '1927', '28', '1917', '1899', '1919', '1934', '1931',
       '352', '12', '2105', '1930', '1843', '213', '1926', '1213', '1920',
       '20158', '210', '2019', '4', '19992', '20112', '1924', '1925', '2',
       '1928', '1912', '212', '1932', '1910', '1913', '1892', '1904',
       '215', '1890', '2911', '208', '20102', '15', '1922', '2021',
       '3013', '20113', '1887', '1895', '1936', '1907', '2101', '2102',
       '216', '1900', '1923', '200', '20125', '1903', '14', '2103',
       '20015', '1906', '1850', '214', '1893', '8', '1909', '2140', '198',
       '2106'], dtype=object)

In [14]:
books_metadata_final.index

Int64Index([     1,      2,      3,      4,      5,      7,      8,      9,
                10,     11,
            ...
            103394, 103395, 103399, 103400, 103401, 103402, 103403, 103405,
            103406, 103407],
           dtype='int64', length=66775)

In [15]:
incomplete_year = []
for i in books_metadata_final.index:
    if len(books_metadata_final['publication_year'][i]) != 4 :
        incomplete_year.append(i)

In [16]:
len(incomplete_year)

45

In [17]:
books_metadata_final = books_metadata_final.drop(incomplete_year)

In [18]:
wrong_year = []
for i in books_metadata_final.index:
    if int(books_metadata_final['publication_year'][i]) <=1838 or int(books_metadata_final['publication_year'][i]) >= 2021:
        wrong_year.append(i)

In [19]:
len(wrong_year)

20

In [20]:
books_metadata_final = books_metadata_final.drop(wrong_year)

In [21]:
books_metadata_final['publication_year'].unique()

array(['2013', '2014', '2004', '2006', '2016', '2015', '2008', '1998',
       '1954', '2011', '1996', '2012', '2010', '2002', '2000', '2003',
       '1991', '1960', '2017', '1997', '2007', '2005', '1999', '1995',
       '1951', '1989', '2009', '2001', '1987', '1993', '1962', '1992',
       '1990', '1839', '1986', '1981', '1978', '1988', '1964', '1946',
       '1979', '1966', '1976', '1994', '1973', '1963', '1983', '1980',
       '1952', '1982', '2020', '1972', '1965', '1984', '1968', '1935',
       '1985', '1974', '1958', '1967', '1949', '1941', '1902', '1969',
       '1945', '1975', '1955', '2018', '1971', '1948', '1942', '1961',
       '1957', '1944', '1956', '1977', '1970', '1959', '1947', '1915',
       '1921', '1950', '1940', '1943', '1939', '1929', '1916', '1933',
       '1938', '1937', '1953', '1918', '1908', '1927', '1917', '1899',
       '1919', '1934', '1931', '1930', '1843', '1926', '1920', '2019',
       '1924', '1925', '1928', '1912', '1932', '1910', '1913', '1892',
       '1904', '1890', '1922', '1887', '1895', '1936', '1907', '1900',
       '1923', '1903', '1906', '1850', '1893', '1909'], dtype=object)

In [22]:
books_metadata_final['publication_year'].max()

'2020'

In [23]:
books_metadata_final['publication_year'].min()

'1839'

In [24]:
books_metadata_final.head()

,text_reviews_count,language_code,popular_shelves,is_ebook,average_rating,description,authors,publication_year,book_id,ratings_count,work_id,title
1,3,eng,"[{'count': '1694', 'name': 'mystery'}, {'count...",false,3.96,Agatha Christie's most ingenious murder myster...,"[{'author_id': '123715', 'role': ''}, {'author...",2013,16158998,5,2288775,A Murder is Announced
2,6,eng,"[{'count': '171', 'name': 'to-read'}, {'count'...",false,4.14,"""Poetic, down trodden and nihilistic, Jonathan...","[{'author_id': '4577517', 'role': ''}]",2014,22722787,18,42251489,The Cost of Doing Business
3,2,eng,"[{'count': '1642', 'name': 'mystery'}, {'count...",false,3.93,In Agatha Christie's classic mystery 4:50 From...,"[{'author_id': '123715', 'role': ''}, {'author...",2013,16158996,5,6490729,4:50 From Paddington
4,46,eng,"[{'count': '328', 'name': 'mystery'}, {'count'...",false,4.07,Past and present collide as Special Agent Pend...,"[{'author_id': '12577', 'role': ''}, {'author_...",2013,17368265,250,24152432,"White Fire (Pendergast, #13)"
5,4,eng,"[{'count': '5396', 'name': 'to-read'}, {'count...",false,4.11,1 MP3-CD / 10 hours\nHaunted by a series of ho...,"[{'author_id': '25108', 'role': ''}, {'author_...",2004,926660,15,911663,Monkeewrench

In [25]:
books_metadata_final.shape

(66710, 12)

In [26]:
count = books_metadata_final[['publication_year','average_rating']].groupby('publication_year').agg('count')

In [27]:
count = count[count['average_rating']>=30]
count.head()

                  average_rating
publication_year
1946                          33
1950                          50
1951                          37
1952                          35
1953                          45

In [28]:
index = count.index
index

Index(['1946', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957',
       '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object', name='publication_year')

In [29]:
books_metadata_final = books_metadata_final.loc[books_metadata_final['publication_year'].isin(index)]

In [30]:
books_metadata_final.shape

(66315, 12)

__Export the final datasets__

In [31]:
books_metadata_final.to_json('final_dataset/books_metadata_thriller.json')

# goodreads_interactions_mystery_thriller_crime.json dataset

__Read goodreads interaction dataset__

In [31]:
dataframe2 = pd.read_json('goodreads_interactions_mystery_thriller_crime.json', lines=True)

In [32]:
dataframe2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24799896 entries, 0 to 24799895
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   book_id                 int64
 2   review_id               object
 3   is_read                 bool
 4   rating                  int64
 5   review_text_incomplete  object
 6   date_added              object
 7   date_updated            object
 8   read_at                 object
 9   started_at              object
dtypes: bool(1), int64(2), object(7)
memory usage: 1.7+ GB

In [33]:
dataframe2.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,True,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017
1,8842281e1d1347389f2ab93d60773d4d,2279538,556e9e3f00fb5b7e4eaa116764b771b0,False,0,,Wed Mar 29 00:27:14 -0700 2017,Wed Mar 29 00:27:14 -0700 2017,,
2,8842281e1d1347389f2ab93d60773d4d,20821043,4b15f8a08f04a17f9a47f2b76fec21e5,False,0,,Mon Mar 27 22:52:11 -0700 2017,Mon Mar 27 22:52:12 -0700 2017,,
3,8842281e1d1347389f2ab93d60773d4d,31184479,0b9fc382ad38c5804ec46df84d66be6e,False,0,,Fri Jan 06 16:22:46 -0800 2017,Fri Jan 06 16:22:46 -0800 2017,,
4,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,True,3,"A fun, fast paced science fiction thriller. I ...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017

__Get only the rows corresponding to the books from books_metadata_final.json file__

In [34]:
books_interactions_comics = dataframe2[dataframe2['book_id'].isin(books_metadata_final['book_id'])]

In [35]:
books_interactions_comics.head()

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
2,8842281e1d1347389f2ab93d60773d4d,20821043,4b15f8a08f04a17f9a47f2b76fec21e5,False,0,,Mon Mar 27 22:52:11 -0700 2017,Mon Mar 27 22:52:12 -0700 2017,,
3,8842281e1d1347389f2ab93d60773d4d,31184479,0b9fc382ad38c5804ec46df84d66be6e,False,0,,Fri Jan 06 16:22:46 -0800 2017,Fri Jan 06 16:22:46 -0800 2017,,
4,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,True,3,"A fun, fast paced science fiction thriller. I ...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017
5,8842281e1d1347389f2ab93d60773d4d,32283133,8e4d61801907e591018bdc3442a9cf2b,False,0,"<a target=""_blank"" href=""http://www.telegraph....",Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,,
6,8842281e1d1347389f2ab93d60773d4d,17288661,62083867d5baac6f82ebea10ae5a2843,False,0,,Mon Jul 11 21:46:06 -0700 2016,Mon Jul 11 21:46:06 -0700 2016,,

In [36]:
books_interactions_comics.shape

(15045017, 10)

__Get only columns used for project__
* Following columns be used for the project
    * user_id
    * book_id
    * review_id
    * is_read
    * rating
    * date_added
    * date_updated

In [37]:
books_interactions_final = books_interactions_comics[['user_id', 'book_id', 'review_id', 'is_read', 'rating', 'date_added', 'date_updated']].reset_index()
interaction_columns = books_interactions_final.columns

In [38]:
interaction_columns

Index(['index', 'user_id', 'book_id', 'review_id', 'is_read', 'rating',
       'date_added', 'date_updated'],
      dtype='object')

In [39]:
books_interactions_final.head()

,index,user_id,book_id,review_id,is_read,rating,date_added,date_updated
0,2,8842281e1d1347389f2ab93d60773d4d,20821043,4b15f8a08f04a17f9a47f2b76fec21e5,False,0,Mon Mar 27 22:52:11 -0700 2017,Mon Mar 27 22:52:12 -0700 2017
1,3,8842281e1d1347389f2ab93d60773d4d,31184479,0b9fc382ad38c5804ec46df84d66be6e,False,0,Fri Jan 06 16:22:46 -0800 2017,Fri Jan 06 16:22:46 -0800 2017
2,4,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,True,3,Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017
3,5,8842281e1d1347389f2ab93d60773d4d,32283133,8e4d61801907e591018bdc3442a9cf2b,False,0,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016
4,6,8842281e1d1347389f2ab93d60773d4d,17288661,62083867d5baac6f82ebea10ae5a2843,False,0,Mon Jul 11 21:46:06 -0700 2016,Mon Jul 11 21:46:06 -0700 2016

__Drop rows having null values__

In [40]:
drop_rows_interaction = []
for rows in range(len(books_interactions_final)):
    useful = 1
    for cols in interaction_columns:
        if(books_interactions_final[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows_interaction.append(rows)

In [41]:
len(drop_rows_interaction)

0

__Export books_interactions_final__

In [42]:
books_interactions_final.to_json('final_dataset/books_interactions_thriller.json')

# goodreads_reviews_mystery_thriller_crime dataset

In [43]:
dataframe3 = pd.read_json('goodreads_reviews_mystery_thriller_crime.json', lines=True)

In [44]:
dataframe3.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,8842281e1d1347389f2ab93d60773d4d,6392944,5e212a62bced17b4dbe41150e5bb9037,3,I haven't read a fun mystery book in a while a...,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,Tue Jul 25 00:00:00 -0700 2017,Mon Jul 24 00:00:00 -0700 2017,6,0
1,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017,22,0
2,8842281e1d1347389f2ab93d60773d4d,32283133,8e4d61801907e591018bdc3442a9cf2b,0,http://www.telegraph.co.uk/culture/10...,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,,,9,0
3,8842281e1d1347389f2ab93d60773d4d,17860739,022bb6daffa49adc27f6b20b6ebeb37d,4,An amazing and unique creation: JJ Abrams and ...,Wed Mar 26 13:51:30 -0700 2014,Tue Sep 23 01:44:36 -0700 2014,Sun Sep 21 00:00:00 -0700 2014,Sat Jul 26 00:00:00 -0700 2014,7,0
4,8842281e1d1347389f2ab93d60773d4d,8694005,0e317947e1fd341f573192111bb2921d,3,The Name of the Rose is a thrilling Dan Brown-...,Wed Sep 08 01:22:27 -0700 2010,Wed Dec 14 12:30:43 -0800 2016,Mon Aug 10 00:00:00 -0700 2015,Mon Jul 20 00:00:00 -0700 2015,17,6

In [45]:
dataframe3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849236 entries, 0 to 1849235
Data columns (total 11 columns):
 #   Column        Dtype
---  ------        -----
 0   user_id       object
 1   book_id       int64
 2   review_id     object
 3   rating        int64
 4   review_text   object
 5   date_added    object
 6   date_updated  object
 7   read_at       object
 8   started_at    object
 9   n_votes       int64
 10  n_comments    int64
dtypes: int64(4), object(7)
memory usage: 155.2+ MB

__Get only the rows corresponding to the books from books_metadata_final.json file__

In [46]:
books_review_comics = dataframe3[dataframe3['book_id'].isin(books_metadata_final['book_id'])]

In [47]:
books_review_comics.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
1,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,Fri Mar 17 23:45:40 -0700 2017,22,0
2,8842281e1d1347389f2ab93d60773d4d,32283133,8e4d61801907e591018bdc3442a9cf2b,0,http://www.telegraph.co.uk/culture/10...,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,,,9,0
3,8842281e1d1347389f2ab93d60773d4d,17860739,022bb6daffa49adc27f6b20b6ebeb37d,4,An amazing and unique creation: JJ Abrams and ...,Wed Mar 26 13:51:30 -0700 2014,Tue Sep 23 01:44:36 -0700 2014,Sun Sep 21 00:00:00 -0700 2014,Sat Jul 26 00:00:00 -0700 2014,7,0
4,8842281e1d1347389f2ab93d60773d4d,8694005,0e317947e1fd341f573192111bb2921d,3,The Name of the Rose is a thrilling Dan Brown-...,Wed Sep 08 01:22:27 -0700 2010,Wed Dec 14 12:30:43 -0800 2016,Mon Aug 10 00:00:00 -0700 2015,Mon Jul 20 00:00:00 -0700 2015,17,6
6,8842281e1d1347389f2ab93d60773d4d,2429135,efee7a3f620ed640366226caa7b138f0,5,I haven't stayed up until 5am to finish a book...,Mon Mar 15 14:05:04 -0700 2010,Wed Mar 22 11:46:43 -0700 2017,Sun Mar 28 00:00:00 -0700 2010,Sun Mar 21 00:00:00 -0700 2010,13,10

__Get only columns used for the project__
* Following columns may be used
    * user_id
    * book_id
    * review_id
    * rating
    * review_text
    * date_added
    * date_updated
    * read_at
    * n_votes
    * n_comments

In [48]:
books_review_comics =  books_review_comics[['user_id','book_id','review_id','rating','review_text','date_added','date_updated','read_at', 'n_votes', 'n_comments']].reset_index()
review_columns = books_review_comics.columns

In [49]:
review_columns

Index(['index', 'user_id', 'book_id', 'review_id', 'rating', 'review_text',
       'date_added', 'date_updated', 'read_at', 'n_votes', 'n_comments'],
      dtype='object')

In [50]:
books_review_comics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1056240 entries, 0 to 1056239
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   index         1056240 non-null  int64
 1   user_id       1056240 non-null  object
 2   book_id       1056240 non-null  int64
 3   review_id     1056240 non-null  object
 4   rating        1056240 non-null  int64
 5   review_text   1056240 non-null  object
 6   date_added    1056240 non-null  object
 7   date_updated  1056240 non-null  object
 8   read_at       1056240 non-null  object
 9   n_votes       1056240 non-null  int64
 10  n_comments    1056240 non-null  int64
dtypes: int64(5), object(6)
memory usage: 88.6+ MB

__Drop rows having null values__

In [51]:
drop_rows_review = []
for rows in range(len(books_review_comics)):
    useful = 1
    for cols in review_columns:
        if(books_review_comics[cols][rows] == ''):
            useful = 0
            break
        else:
            useful = 1
    if(useful == 0):
        drop_rows_interaction.append(rows)

In [52]:
len(drop_rows_review)

0

In [53]:
books_review_comics.head()

,index,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,n_votes,n_comments
0,1,8842281e1d1347389f2ab93d60773d4d,28684704,2ede853b14dc4583f96cf5d120af636f,3,"A fun, fast paced science fiction thriller. I ...",Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,Sat Mar 18 23:22:42 -0700 2017,22,0
1,2,8842281e1d1347389f2ab93d60773d4d,32283133,8e4d61801907e591018bdc3442a9cf2b,0,http://www.telegraph.co.uk/culture/10...,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,,9,0
2,3,8842281e1d1347389f2ab93d60773d4d,17860739,022bb6daffa49adc27f6b20b6ebeb37d,4,An amazing and unique creation: JJ Abrams and ...,Wed Mar 26 13:51:30 -0700 2014,Tue Sep 23 01:44:36 -0700 2014,Sun Sep 21 00:00:00 -0700 2014,7,0
3,4,8842281e1d1347389f2ab93d60773d4d,8694005,0e317947e1fd341f573192111bb2921d,3,The Name of the Rose is a thrilling Dan Brown-...,Wed Sep 08 01:22:27 -0700 2010,Wed Dec 14 12:30:43 -0800 2016,Mon Aug 10 00:00:00 -0700 2015,17,6
4,6,8842281e1d1347389f2ab93d60773d4d,2429135,efee7a3f620ed640366226caa7b138f0,5,I haven't stayed up until 5am to finish a book...,Mon Mar 15 14:05:04 -0700 2010,Wed Mar 22 11:46:43 -0700 2017,Sun Mar 28 00:00:00 -0700 2010,13,10

__export final data to json__

In [54]:
books_review_comics.to_json('final_dataset/books_review_thriller.json')